.footer_wrapper {  
    width: 100%;  
    background-color: white;  
    margin-top: 130px;   
    display: flex;  
    flex-direction: column; /* 使用纵向排列 */  
    align-items: center;  
}  

.footer_content {  
    width: 100%;  
    display: flex;  
    flex-direction: column;  
    align-items: center; /* 中心对齐 */  
}  

.footer_options {  
    width: 100%;  
    display: flex;  
    justify-content: space-around; /* 使用空间均分 */  
    flex-wrap: wrap; /* 当空间不足时换行 */  
}  

.footer_detail_wrapper, .footer_detail_lastwrapper {  
    flex: 1; /* 平均分配可用空间 */  
    min-width: 150px; /* 设置最小宽度 */  
    max-width: 200px; /* 设置最大宽度 */  
    text-align: center;  
    color: rgb(66, 66, 66);  
    display: flex;  
    flex-direction: column;  
    padding: 20px 10px; /* 添加内边距 */  
}  

.footer_detail_wrapper p:hover, .footer_detail_lastwrapper p:hover {  
    color: black;  
    font-size: larger;  
    transition: font-size 0.1s ease-in-out;  
}  

.footer_series_wrapper {  
    font-weight: bold; /* 加粗标题 */  
    margin-bottom: 10px; /* 与内容分开 */  
}  

.series_content_wrapper p {  
    margin: 5px 0; /* 行间距 */  
}  

.footer_copyright {  
    width: 100%;  
    border-top: 1px gray solid;  
    display: flex;  
    align-items: center; /* 垂直居中 */  
    justify-content: space-around; /* 使用spacing */  
    padding: 15px 0; /* 上下内边距 */  
}  

.footer_logo_wrapper {  
    width: 80px; /* 设置一个固定宽度 */  
    height: auto; /* 让高度自适应 */  
    margin-left: 16%;  
}  

.footer_logo_wrapper img {  
    width: 100%;  
    height: auto; /* 保持宽高比 */  
}  

.footer_copyright_declaration {  
    margin: 0 20px;  
    font-size: small;  
    flex: 1; /* 占据剩余空间 */  
}  

.logo_list {  
    width: auto; /* 不设定宽度，自动适应 */  
    display: flex; /* 使用flex布局 */  
    justify-content: center; /* 居中对齐 */  
    list-style-type: none;
}  

.footer_share_logo {
    margin: 0 5%;
}

.logo_item {  
    width: 30px; /* 修改为更小的固定大小 */  
    height: auto; /* 高度自适应 */  
    margin: 0 20px; /* 较小边距 */  
}  

@media (max-width: 768px) {  
    .footer_options {  
        flex-direction: column; /* 在小屏幕上垂直排列 */  
        align-items: stretch; /* 拉伸内容 */  
    }  

    .footer_detail_wrapper, .footer_detail_lastwrapper {  
        min-width: 100%; /* 在小屏上使用100%宽度 */  
        max-width: none; /* 取消最大宽度限制 */  
    }  

    .footer_copyright {  
        flex-direction: column; /* 在小屏幕上垂直布局 */  
        align-items: center; /* 让元素居中 */  
    }  

    .footer_logo_wrapper {  
        margin-left: 0; /* 在小屏幕上取消左边距 */  
    }  
}